body {
    background-color: bisque;
    margin: auto;
}
header {
    font-style: italic;
    font-family: fantasy;
    font-size: 35;
    color: violet;
}

.centered {
    text-align: center;
    margin:auto
}


ImageBox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 20;
}